.homeContainer {
    padding-top: 6rem;
    background-color: #000;
    /* background-color: #130f40; */
/* background-image: linear-gradient(230deg, #130f40 0%, #000000 50%); */
    /* background: linear-gradient(to right, #000000, #434343); */
    /* background-image: linear-gradient(to right, #000000 0%, #434343  51%, #000000  100%); */
    max-width: 100%;
    height: 115vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.homeImg {
    width: 28%;
    animation: 1s moveFromLeft ease-out;
}

.homeImg img {
    width: 100%;
    box-shadow: 0px 0px 5px rgb(196, 222, 234);
    border-radius: 40% 2.5%;
    margin-left: 50px;
    animation: 1s scaleFromCenter ease-in-out;
}

.homeText {
    color: #fff;
    width: 40%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.homeText h3 {
    font-family: 'Lora', serif;
    letter-spacing: 2px;
    animation: 1s scaleFromCenter ease-out;
}

.homeText h1 {
    /* font-family: 'Lora', serif; */
    font-size: 33px;
    letter-spacing: .8px;
    animation: 1s scaleFromCenter ease-out;
}

.homeText h2 {
    font-family: 'Lora', serif;
    font-size: 28px;
    letter-spacing: 1px;
    animation: 1s scaleFromCenter ease-out;
}

.homeText p {
    font-size: 15px;
    letter-spacing: .6px;
    /* animation: 1s moveFromRight ease-out; */
    animation: 1.1s scaleFromCenter ease;
}

.homeBtn {
    padding: 10px;
}
.homeBtn button {
    font-size: 16px;
    padding: 10px 27px;
    background: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-right: 30px;
    margin-top: 20px;
    cursor: pointer;
    transition: all .4s ease;
    animation: 1.1s scaleFromCenter ease;
}

.homeBtn button:hover {
    background-color: #fff;
    color: #000;
}

@keyframes moveFromLeft {
    from{
        transform: translateX(-20rem);
        opacity: 0; 
    }
    to{
        transform: translateX(0);
        opacity: 1; 
    }
  }
  
  @keyframes moveFromRight {
    from{
        transform: translateX(20rem);
        opacity: 0; 
    }
    to{
        transform: translateX(0);
        opacity: 1; 
    }
  }
  
  @keyframes scaleFromCenter {
    from{
        scale: 0;
        opacity: 0;
    }
    to{
        scale: 1;
        opacity: 1;
    }
  }
  

  @keyframes slideTop{
    from{
      transform: translateY(100px);
      opacity: 0;
    }
    
    to{
      transform: translateY(0px);
      opacity: 1;
    }
  }