:root {
    --footer-bg: #1c2444;
    --color: black;
    --color-smooth: rgb(96, 96, 96);
    --input-border: #3a456a;
    --btn-bg-color: #f1f2fc;
    --btn-hover-bg: #d5d9f6;
    --btn-color: #1e2641;
  }
  
  footer {
    font-size: 16px;
    background-color: #000000;
    padding: 2em 4em;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 1em;
    font-family: "IBM Plex Sans", sans-serif;
    box-shadow: 0px 0px 10px rgb(178, 217, 236);
  }
  
  footer ul {
    list-style: none;
  }
  
  .col {
    flex: 1;
  }
  
  .col-title {
    font-family: "Merriweather", serif;
    color: #ededed;
    font-size: 1.1em;
    font-weight: 500;
    padding: 0.5em 0;
  }
  
  .col-list a {
    color: #9e9e9e;
    text-decoration: none;
    line-height: 1.4;
    font-weight: 400;
  }
  
  .col-list a:hover,
  .col-list a:focus {
    text-decoration: underline;
  }
  
  .subscribe-form,
  .social-media {
    display: flex;
    gap: 0.5em;
    padding: 0.5em 0;
  }
  
  .subscribe-input {
    width: auto;
    flex: 1;
    background: transparent;
    border: 0.06em solid #9c9c9c;
    font-size: 1em;
    font-weight: 500;
    padding: 0.5em;
    border-radius: 0.3em;
    transition: all 0.25s ease 0s;
    display: inline-block;
    color: var(--color-smooth);
  }
  
  .subscribe-input:focus {
    outline: none;
    border-color: #fff;
    color: #fff;
  }
  
  .subscribe-btn {
    background: var(--btn-bg-color);
    border: none;
    font-size: 1em;
    font-weight: 600;
    padding: 0.5em;
    border-radius: 0.3em;
    transition: all 0.25s ease 0s;
    display: inline-block;
    color: var(--btn-color);
    cursor: pointer;
  }
  
  .subscribe-btn:hover,
  .subscribe-btn:focus {
    background: var(--btn-hover-bg);
  }
  
  .form-title,
  .social-col-title {
    font-size: 1em;
    color: var(--color);
    font-weight: 500;
  }
  
  .social-media {
    flex-direction: column;
  }
  
  .social-media-list {
    display: flex;
    gap: 0.5rem;
  }
  
  .social-media-list a {
    padding: 0.5em;
    color: #b1b1b1;
    display: flex;
    border-radius: 0.3em;
    transition: all 0.25s ease 0s;
  }
  
  .social-media-list a:hover,
  .social-media-list a:focus {
    color: var(--color);
    background: #1e1e1e;
  }
  
  .social-media-list svg {
    width: 1.5em;
    height: 1.5em;
    transition: all 0.25s ease 0s;
  }
  
  @media screen and (max-width: 750px) {
    footer {
      padding: 2em;
      flex-direction: column;
    }
  }
  