

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    padding: 8px;
    transition: all .3s ease;
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 0px 10px rgb(178, 217, 236);

    background-image: url('your-background-image.jpg'); /* Set your background image */
  backdrop-filter: blur(10px); /* Adjust blur radius as needed */
}

.logo {
font-size: 25px;
    margin-left: 20px;
    color: #fff;
    /* margin-top: 10px; */
    font-family: 'Lemon', serif;
    position: relative;
}

.navBar ul {
    display: flex;
    gap: 20px;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
    color: #fff;
}

.navBar a {
    color: #fff;
    transition: all .3s ease;
    padding: 5px;
    border-radius: 5px;
}

.navBar a:hover {
    background-color: rgb(22, 22, 22);
}

.active {
    background-color: rgb(29, 29, 29);
}